body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

main {
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    background-color: #fff;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 18px;
    color: #666;
}

.btn-primary {
    background-color: #0071bc;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #005a9e;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f1c40f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.room-details h2 {
    font-size: 32px;
    font-weight: bold;
    color: #27ae60;
}

.reservation-form {
    background-color: #fff;
    border: 2px solid #f1c40f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.reservation-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #27ae60;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.btn-primary {
    background-color: #0071bc;
    border: none;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #005a9e;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}